:root {
}

.button {
    -unity-font-definition: url("project://database/Assets/Fonts/Alkhemikal.ttf?fileID=12800000&guid=3cd2174e3648f4446b134463e7850713&type=3#Alkhemikal");
    background-color: rgba(0, 0, 0, 0);
    transition-property: all;
    transition-duration: 0s;
    transition-timing-function: ease;
    transition-delay: 0s;
    justify-content: center;
    align-self: flex-end;
    align-items: flex-end;
    color: rgb(127, 127, 127);
    right: auto;
    visibility: visible;
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    font-size: 100px;
}

.selected {
    color: rgb(255, 255, 255);
}

.page {
    background-color: rgba(255, 255, 255, 0);
    background-repeat: no-repeat no-repeat;
}

.page-1 > #page0 {
    background-image: url("project://database/Assets/01_Art/Sprites/Menu/icons/spr_menu_page_icon_a_8.png?fileID=2800000&guid=752703dbb6fc8634dbcd8c16a0ee4e76&type=3#spr_menu_page_icon_a_8");
}

.page-1 > #page1 {
    -unity-background-image-tint-color: rgba(255, 255, 255, 0);
}

.page-1 > #page2 {
    -unity-background-image-tint-color: rgba(255, 255, 255, 0);
}

.page-2 > #page0 {
    background-image: url("project://database/Assets/01_Art/Sprites/Menu/icons/spr_menu_page_icon_a_4.png?fileID=2800000&guid=9a0f95bd99c8e3047aea99c3b1c4d5bf&type=3#spr_menu_page_icon_a_4");
}

.page-2 > #page1 {
    background-image: url("project://database/Assets/01_Art/Sprites/Menu/icons/spr_menu_page_icon_a_8.png?fileID=2800000&guid=752703dbb6fc8634dbcd8c16a0ee4e76&type=3#spr_menu_page_icon_a_8");
}

.page-2 > #page2 {
    -unity-background-image-tint-color: rgba(255, 255, 255, 0);
}

.page-3 > #page0 {
    background-image: url("project://database/Assets/01_Art/Sprites/Menu/icons/spr_menu_page_icon_a_4.png?fileID=2800000&guid=9a0f95bd99c8e3047aea99c3b1c4d5bf&type=3#spr_menu_page_icon_a_4");
}

.page-3 > #page1 {
    background-image: url("project://database/Assets/01_Art/Sprites/Menu/icons/spr_menu_page_icon_a_4.png?fileID=2800000&guid=9a0f95bd99c8e3047aea99c3b1c4d5bf&type=3#spr_menu_page_icon_a_4");
}

.page-3 > #page2 {
    background-image: url("project://database/Assets/01_Art/Sprites/Menu/icons/spr_menu_page_icon_a_8.png?fileID=2800000&guid=752703dbb6fc8634dbcd8c16a0ee4e76&type=3#spr_menu_page_icon_a_8");
}

.image {
    opacity: 0;
    right: -10%;
    transition-property: all;
    transition-duration: 0s;
    background-image: var(--image);
    --image: url("project://database/Assets/01_Art/Sprites/Menu/spr_menu_burdens_3.png?fileID=2800000&guid=02512fefa6458b5439ac9037f25f6c50&type=3#spr_menu_burdens_3");
    height: auto;
}

.image.GraphicsButton {
    transition-property: opacity;
    transition-duration: 1s;
    --image: url("project://database/Assets/01_Art/Sprites/Menu/spr_menu_graphics_3.png?fileID=2800000&guid=6f67b747d6a2ada46bfb25edda9c2e41&type=3#spr_menu_graphics_3");
}

.image.AudioButton {
    transition-property: opacity;
    transition-duration: 1s;
    --image: url("project://database/Assets/01_Art/Sprites/Menu/spr_menu_audio_3.png?fileID=2800000&guid=03abd273c803ace4d87a959a0ce8ffad&type=3#spr_menu_audio_3");
}

.image.BackSettingsButton {
    transition-property: opacity;
    transition-duration: 1s;
    --image: url("project://database/Assets/01_Art/Sprites/Menu/spr_menu_back_3.png?fileID=2800000&guid=da9fc32d71641124abe247dd9bf8af17&type=3#spr_menu_back_3");
}

.image.ResumeButton {
    transition-property: opacity;
    transition-duration: 1s;
    --image: url("project://database/Assets/01_Art/Sprites/Menu/spr_menu_continue_3.png?fileID=2800000&guid=1bdf4719703d38f4287c167f288eb5f6&type=3#spr_menu_continue_3");
}

.image.QuitButton {
    transition-property: opacity;
    transition-duration: 1s;
    --image: url("project://database/Assets/01_Art/Sprites/Menu/spr_menu_exit_001_3.png?fileID=2800000&guid=7031903e9f978ee418da7fdb0fadd560&type=3#spr_menu_exit_001_3");
}

.image.SettingsButton {
    transition-property: opacity;
    transition-duration: 1s;
    --image: url("project://database/Assets/01_Art/Sprites/Menu/spr_menu_settings_3.png?fileID=2800000&guid=dea5647578d513947bd77d1e7911596e&type=3#spr_menu_settings_3");
}

.slidefade {
    opacity: 1;
    right: 0;
    transition-property: opacity, right;
    transition-duration: 1s, 1s;
}

.sceptre {
    background-image: url("project://database/Assets/01_Art/Sprites/VoidRod/spr_voidrod_icon/spr_voidrod_icon_1.png?fileID=2800000&guid=cf5f56daaec4b3c49ab3aee52f1db0d0&type=3#spr_voidrod_icon_1");
}

.sceptreGround {
    background-image: url("project://database/Assets/01_Art/Sprites/VoidRod/spr_voidrod_icon/spr_voidrod_icon_2.png?fileID=2800000&guid=9d58665c61f70624da4ed1cb9f9b903e&type=3#spr_voidrod_icon_2");
}

.sceptreStairs {
    background-image: url("project://database/Assets/01_Art/Sprites/VoidRod/spr_voidrod_icon/spr_voidrod_icon_5.png?fileID=2800000&guid=5ff0b594a78339d46bdda213992ecb99&type=3#spr_voidrod_icon_5");
}
